.App {
  text-align: center;
}

.TopBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0 15px;
  background: #ededed;
  box-shadow: 2px 1px 5px #8d8d8d;

  .Menu {
    display: flex;

    p {
      margin: auto 10px;
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
